.category-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }
  
  .bg-blue-500 {
    background-color: #f63b3b;
  }
  
  .bg-green-500 {
    background-color: #10b981;
  }
  
  .bg-yellow-500 {
    background-color: #0bcef5;
  }
  